<!DOCTYPE HTML>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Modify the book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
	<body>

		<h1>Add new books to a list</h1>
		
		<form action="#" th:action="@{../save}" th:object="${book}" method="post">
			<p><input type="hidden" id="id" th:field="*{id}" /></p>
			<p>Author: <input type="text" th:field="*{author}" /></p>
			<p>Title: <input type="text" th:field="*{title}" /></p>
			<p>ISBN: <input type="text" th:field="*{isbn}" /></p>
			<p>Year: <input type="text" th:field="*{year}" /></p>
			<label>Category</label>
				<select th:field="*{category}" class="form-control">
					<option th:each="category: ${categories}"
				th:value="${category.categoryid}"
				th:text="${category.name}"></option>
				</select>
			<p><input type="submit" value="Submit" /></p>
		</form>
		
		
	</body>
</html>